@import "./variables.scss";
@import "./global.scss";
@import "./components/Button.scss";
@import "./components/Logo.scss";
@import "./components/Navigation.scss";
@import "./components/Header.scss";
@import "./components/Hero.scss";
@import "./components/SkillItem.scss";
@import "./components/About.scss";
@import "./components/ProjectCard.scss";
@import "./components/Projects.scss";
@import "./components/Contact.scss";
@import "./components/Footer.scss";
